body{
    font-family: brush script mt;
}
h1{
    font-size: 10vh;
    display: block;
    text-align: center;
    border-bottom: 2vh double black;
}
h3{
    font-size: 6vh;
    display: block;
    text-align: center;
    border-bottom: .5vh solid black;
    
}
label{
    font-size: 4vh;
}
